.modal-content {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	border-radius: 0;
	box-shadow: none;
	background: url(../img/portfolio/geometry.jpg);
}
.modal-header h3 {
	font-size: 50px;
	color: 0x3d3d3d;
	text-transform: uppercase;
	text-align: center;
}
.modal-header img {
	max-width: 100%;
	height: auto;
	width: auto;
}
.project-desp h1 {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 30px;
	color: #272727;
	text-transform: uppercase;
	text-align: center;
}
.project-desp p {
	padding-left: 60px;
	padding-right: 60px;
	font-size: 14px;
	color: #272727;
}
.project-desp li {
	padding-left: 60px;
	padding-right: 60px;
	font-size: 14px;
	color: #272727;
}
.project-sum h1 {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 30px;
	color: #272727;
	text-transform: uppercase;
	text-align: center;
}
.project-sum ul {
	list-style: none;
}
.project-sum li {
	font-size: 14px;
	color: #272727;
}
li.sum {
	line-height: 30px;
}


